<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="col-sm">
              <img src="assets/pictures/swappen.png" width="128">
          </div>
          <div class="col-sm">
            <p>Prellerschützen Neuhausen von 1959 e.V.</p><p>Schäffer-Str. 35</p><p>94560 Offenberg</p><p>Email: info@preller-schuetzen.de</p>
          </div>
          <div class="col-sm">
            <a href="/impressum">Impressum</a>
          </div>
        </div>
      </div>
  </footer>
