
div .column
{
margin-right: 200px;
}

div .row
{
height: 30px
}

div .column a
{
    color: white;
}
footer {
    background-color: #343a40;
    height: 15%;
}

p {
    height: 3%;
}

a {
    color: #fff;
}