<footer class="footer">
    <div class="container">
      <div class="row">
             <div class="column"> 
               <!--TODO: Logo bearbeiten!!! -->
               <img class="img-responsive" src="assets/pictures/swappen.png" height="192"/>
              </div>
              <div class="column">
                  <div class="row">Prellerschützen Neuhausen von 1959 e.V.</div>
                  <div class="row">Fritz-Schäffer-Str. 35</div>
                  <div class="row">94560 Offenberg</div>
                  <div class="row">Email: info@preller-schuetzen.de</div>
              </div>
              <div class="column"><a href="/impressum">Impressum</a></div>
        </div>
    </div>
</footer>
