<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a href="home" class="navbar-brand">Menü</a>
     <button class="navbar-toggler" (click)="toggleNavbar()"  type="button" aria-controls="theNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div [ngbCollapse]="isNavbarCollapsed" id="theNavbar"
     [@collapse]="isNavbarCollapsedAnim"
     class="navbar-collapse collapse navbar-toggleable">
			<ul class="navbar-nav mr-auto ml-auto"> 
				<li class="nav-item">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="veranstaltungen">Veranstaltungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vereinsinfo">Vereinsinfo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chronik">Chronik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gedenken">Zum Gedenken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fotos">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="impressum">Impressum</a>
        </li>
			</ul>
		</div>
	</div>
</nav>