<div class="container"></div>
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <div class="panel panel-default">
      <ngb-panel id="static-1" title="Kontakt">
        <ng-template ngbPanelContent>
          <p>Prellerschützen Neuhausen von 1959 e.V.</p>
          <p>Fritz-Schäffer-Str. 35</p>
          <p>94560 Offenberg</p>
          <p>Email: info@preller-schuetzen.de</p>
          <p>Webseite: <a href="http://www.preller-schuetzen.de">http://www.preller-schuetzen.de</a></p>
        </ng-template>
      </ngb-panel>
    </div>
<ngb-panel id="static-2" title="Weitere Informationen">
  <ng-template ngbPanelContent>

  </ng-template>
</ngb-panel>
  </ngb-accordion>
