<div class="container">
  <br /><div>
  <img class="img-respnive" align="left" src="assets/pictures/schuetzenheim2.png" height="320" />
  <br /><br /><br /><br /><br />
  <h2 align="middle">Preller Schuetzen Neuhausen</h2>
  <h6 align="middle">gegr. 1959</h6>
  <h4 align="middle">Wir wünschen allzeit "Gut Schuss"</h4>
  </div>
</div>
<br />
<div class="container">
  
  <h4 align="middle">Hier finden Sie:</h4>
  <p align="center">Informationen über das Vereinsleben, aktuelle Veranstaltungen, Geschichte des Vereins, Gaurundenergebnisse und vieles mehr.</p>
</div>
