<div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="items"
        [width]="960"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      >
</div>
<ng-template #prev>
      <span class="fa fa-chevron-left fa-lg"id="left"></span>
    </ng-template>
    <ng-template #next>
      <span class="fa fa-chevron-right fa-lg"id="left"></span>
    </ng-template>
    <ng-template #item let-item let-i="index">
        <div class="items">
          <img src="{{ item.name }}">
        </div>
</ng-template>
<br>
<div class="container" id="mainHomeContainer">
          <h1 align="center">Willkommen</h1>
          <!-- Texteanpassen -->
          <p>Krasser Willkommenstext</p>
  <div class="container" id="newslistContainer">
      <app-newslist></app-newslist>
  </div>
</div>
     
